using Xamarin.Forms.Xaml;

namespace $projectname$.Views.Menu
{
    [XamlCompilation(XamlCompilationOptions.Compile)]
    public partial class LicensesInfoMenu 
    {
        public LicensesInfoMenu()
        {
            InitializeComponent();
        }
    }
}